footer {
	background-image:url(../webAssets/map.png);
	background-size: cover;
	overflow: auto;
	margin: 0;
	width: 100%;
	h1{
		color: #FFFFFF;
	}
	.contact-form{
		font-family:'Oswald', sans-serif;
		.form-container{
			width: 225px;
			clear: both;
			.form-box{
				width: 100%;
				clear: both;
				background-color: $brand-color-teal;
				border: none;
				margin-bottom: 25px;
				height: 30px;
				padding: 8px;
			}
		}
	}
	p{
		clear: both;
		text-align: center;
		color: #FFFFFF;
	}
	.brand-name{
		color:#FFFFFF;
		text-align: center;
	}
	.submit{
		font-family:'Oswald', sans-serif;
		color: $brand-color-teal;
		padding: 5px;
		background-color: transparent;
		background-repeat: no-repeat;
		border: 2px solid $brand-color-teal;
		cursor: pointer;
		overflow: hidden;
	}
}
#inquiry{
	height: 100px;
}