.product-container {
	font-family:'Oswald', sans-serif;
	h1 {

	}
	.product-row {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.product-text {
		font-size:16px;
	}
	.product-image img {
		width:60%;
		height:60%;
	}
}
