<a name="linktoproduct"></a>
<div class="product-container">
	<h1>Product</h1>
	<div class="product-row row">
		<div class="product-image col-md-2 col-md-offset-2">
			<img src="webAssets/vectors/pathPlanIcon.svg">
		</div>
		<div class="product-text col-md-6">
			As of today, all autonomous drone navigation is done via GPS signal. However, indoor these sensors can not be relied upon, closing off the opprotunity to plan drone paths indoors. Our unique relative location positioning system instead uses onboard readings from the accelerometer and gyroscope to quickly and accurately triangulate position.
		</div>
	</div>
	<div class="product-row row">
		<div class="product-text col-md-6 col-md-offset-2">
			Our platform can be installed on any off the shelf commercial drone running on ardupilot. Control path planning via a user friendly web application. State of the art safety features ensure that your drone will never crash again. 
		</div>
		<div class="product-image col-md-2">
			<img src="webAssets/vectors/droneIcon.svg">
		</div>
	</div>
	<div class="product-row row">
		<div class="product-image col-md-2 col-md-offset-2">
			<img src="webAssets/vectors/gridIcon.svg">
		</div>
		<div class="product-text col-md-6">
			With RFID sensing power, Sparrow can detect any anomalies in your environment, rendering the area covered more safe and secure. 
		</div>
	</div>
</div>