<head>
	<title>
		Drone Monitor
	</title>
	{{ JSGlue.include() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='drone_monitor.css')}}">
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='drone_monitor.js')}}"></script>
</head>

<body>
	<canvas id="myCanvas" width="1024" height="768"></canvas>
	<button id="completePath">Complete Path</button>
	<img id="drone" style="display:none;" src="{{ url_for('static', filename='3dr_icon_square.png')}}">

</body>



