<a name="linktofooter"></a>
<footer class="site-footer">
  <div class="contact-form row">
    <div class="col-md-8"></div>
    <div class="col-md-4 pull-right">
    <h1>Send A Message</h1>
    <div class="form-container">
      <form  method="post" action="mailto:info@sparrowdrones.org" class="field-inputs">
        <input type="text" class="form-box" value="name"></input>
        <input type="text" class="form-box" value="email"></input>
        <textarea class="form-box" id="inquiry">inquiry</textarea>
        <input class="submit" type="submit"></button>
      </form>
    </div>
  </div>
  </div>
  <p>Sparrow</p>
</footer>
