<script type="text/javascript">
$(document).ready(function() {
   $('#nav').localScroll({duration:800});
});
</script>

<header class="site-header">
	<div class="header-container">
		<div class="header-nav-logo">
	  		<img src="webAssets/vectors/logo-better_o_white.svg">
	  	</div>

	  	<div class="header-nav-container">
			<ul id="nav" class="header-nav-list">
			  <li class="header-nav-item"><a href="#linktoproduct">Product</a></li>
			  <li class="header-nav-item"><a href="#linktocases">Use Cases</a></li>
			  <li class="header-nav-item"><a href="#linktoteam">Team</a></li>
			  <li class="header-nav-item"><a href="#linktofooter">Contact</a></li>
			</ul>
		</div>
	</div>

</header>
