<header class="site-header">
	<div class="header-container">
		<div class="header-nav-logo">
	  		<img src="webAssets/vectors/logo-better_o_white.svg">
	  	</div>

	  	<div class="header-nav-container">
			<ul class="header-nav-list">
			  <li class="header-nav-item"><a href="">Product</a></li>
			  <li class="header-nav-item"><a href="">Use Cases</a></li>
			  <li class="header-nav-item"><a href="">Team</a></li>
			  <li class="header-nav-item"><a href="">Contact</a></li>
			</ul>
		</div>
	</div>

</header>
