<a name="linktoteam"></a>
<div class="team-container">
	<h1>Team</h1>
	<hr>
	<div class="team-photos-wrapper">
	<div class="team-photos row">
		<div class="team-photo col-md-2 col-md-offset-1" id="amy">
			<img src="webAssets/teamImages/amy.png"/>
			<p class="photo-caption">Amy Bearman</p> 
		</div>
		<div class="team-photo col-md-2" id="catherine">
			<img src="webAssets/teamImages/catherine.png"/>
			<p class="photo-caption">Catherine Dong</p> 
		</div>
		<div class="team-photo col-md-2" id="andrew">
			<img src="webAssets/teamImages/andrew.png"/>
			<p class="photo-caption">Andrew Lim</p> 
		</div>
		<div class="team-photo col-md-2" id="pavitra">
			<img src="webAssets/teamImages/pavitra.png"/>
			<p class="photo-caption">Pavitra Rengarajan</p> 
		</div>
		<div class="team-photo col-md-2" id="andrei">
			<img src="webAssets/teamImages/andrei.png"/>
			<p class="photo-caption">Andrei Terentiev</p> 
		</div>

	</div>
	</div>
	<div class="team-description-wrapper row">
		<p class= "team-description">
		The Sparrow indoor drone navigation system was conceived by a team of engineers from Stanford University working to enable
		the future wave of indoor drone applications. Outdoor drone applications are becoming more ubiquitious, but indoor applications have yet to take off. Our platform will allow consumer drones to fly autonomously in confined and contained environments. Our team is passionate about robotics, AI, and embedded systems and is excited to use these skills to help streamline many labor intensive and dangerous processes.<p>
	</div>
</div>
