<h1>Team</h1>
<hr>
<div class="team-photos-wrapper">
<div class="team-photos">
	<div class="team-photo" id="amy">
		<img src="../webAssets/teamImages/amy.png"/>
		<p class="photo-caption"> Amy Bearman</p> 
	</div>
	<div class="team-photo" id="catherine">
		<img src="../webAssets/teamImages/catherine.png"/>
		<p class="photo-caption">Catherine Dong</p> 
	</div>
	<div class="team-photo" id="andrew">
		<img src="../webAssets/teamImages/andrew.png"/>
		<p class="photo-caption">Andrew Lim</p> 
	</div>
	<div class="team-photo" id="pavitra">
		<img src="../webAssets/teamImages/pavitra.png"/>
		<p class="photo-caption">Pavitra Rengarajan</p> 
	</div>
	<div class="team-photo" id="andrei">
		<img src="../webAssets/teamImages/andrei.png"/>
		<p class="photo-caption">Andrei Terentiev</p> 
	</div>

</div>
</div>
<p class= "team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum a eros at hendrerit. Praesent at sodales lorem. Donec maximus sagittis sapien, quis venenatis libero finibus ut. Proin congue, mauris eu lacinia mollis, tellus ipsum condimentum eros, in venenatis nulla elit eu odio. Cras porta enim eget tellus feugiat, at malesuada nulla ornare. Nam mollis elementum tincidunt. Aenean mattis auctor ante et dictum. Phasellus sem justo, fermentum ac mattis ac, viverra in sem.<p>
