<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-BoldItalic.ttf</string>
		<string>Oswald-Demi-BoldItalic.ttf</string>
		<string>Oswald-DemiBold.ttf</string>
		<string>Oswald-Extra-LightItalic.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Heavy.ttf</string>
		<string>Oswald-HeavyItalic.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-LightItalic.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-MediumItalic.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-RegularItalic.ttf</string>
		<string>Oswald-Stencil.ttf</string>
	</array>
</dict>
</plist>
